spring:
  cloud:
    vault:
      host: ${VAULT_HOST}
      port: ${VAULT_PORT}
      scheme: ${VAULT_SCHEME}
      authentication: ${VAULT_AUTHENTICATION}
      token: ${VAULT_TOKEN}
      kv:
        enabled: true
    compatibility-verifier:
      enabled: false
  application:
    name: otp

  datasource:
    url: jdbc:postgresql://cockroachdb:${DB_PORT}/otp?sslmode=disable
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update # can be: none, validate, update, create, create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  docker:
    compose:
      enabled: false

server:
  port: 8085
  address: 0.0.0.0

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    uk.thisjowi.OTP: DEBUG

kafka:
  bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}
  topic:
    auth-events: auth-events
    otp-events: otp-events
  consumer:
    group-id: otp-service-group
    auto-offset-reset: earliest
    key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  producer:
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.apache.kafka.common.serialization.StringSerializer

# OpenAPI Documentation configuration
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  info:
    title: Password Service API
    description: API for managing user passwords
    version: 1.0.0
  packages-to-scan: uk.thisjowi.OTP

app:
  encryption:
    key: ${JWT_SECRET}
